<div id= "carousel" class="carousel-container">

  <div class='slider-for'>

    <div><img data-lazy='/assets/box-photos/photos(unedited)/01-common-space-1.jpg' class="big-carousel"/></div>
    <div><img data-lazy='/assets/box-photos/photos(unedited)/02-Common-Space-2.jpg' class="big-carousel"/></div>
    <div><img data-lazy='/assets/box-photos/photos(unedited)/03-Common-Space-3.jpg' class="big-carousel"/></div>
    <div><img data-lazy='/assets/box-photos/photos(unedited)/04-Study-Table.jpg' class="big-carousel"/></div>
    <div><img data-lazy='/assets/box-photos/photos(unedited)/05-Kitchen-1.jpg' class="big-carousel"/></div>
    <div><img data-lazy='/assets/box-photos/photos(unedited)/06-Kitchen-2.jpg' class="big-carousel"/></div>
    <div><img data-lazy='/assets/box-photos/photos(unedited)/07-FREE-Breakfast.jpg' class="big-carousel"/></div>
    <div><img data-lazy='/assets/box-photos/photos(unedited)/08-Coin-Operated-Laundry.jpg' class="big-carousel"/></div>
    <div><img data-lazy='/assets/box-photos/photos(unedited)/09-Shared-Bathroom-1.jpg' class="big-carousel"/></div>
    <div><img data-lazy='/assets/box-photos/photos(unedited)/10-Shared-Bathroom-2.jpg' class="big-carousel"/></div>
    <div ><img data-lazy='/assets/box-photos/photos(unedited)/11-Shared-Bathroom-3.jpg' class="big-carousel"/></div>
    <div ><img data-lazy='/assets/box-photos/photos(unedited)/12-8-Bed-Dorm.jpg' class="big-carousel"/></div>
    <div ><img data-lazy='/assets/box-photos/photos(unedited)/13-Outside-Facing-Windows-1.jpg' class="big-carousel"/></div>
    <div ><img data-lazy='/assets/box-photos/photos(unedited)/14-in-room-Lockers-1.jpg' class="big-carousel"/></div>
    <div ><img data-lazy='/assets/box-photos/photos(unedited)/15-Privacy-Curtains-1.jpg' class="big-carousel"/></div>
    <div ><img data-lazy='/assets/box-photos/photos(unedited)/16-Privacy-Curtains-2.jpg' class="big-carousel"/></div>
    <div ><img data-lazy='/assets/box-photos/photos(unedited)/17-Reading-Light-1.jpg' class="big-carousel"/></div>
    <div ><img data-lazy='/assets/box-photos/photos(unedited)/18-in-room-Lockers-2.jpg' class="big-carousel"/></div>
    <div ><img data-lazy='/assets/box-photos/photos(unedited)/19-6-Bed-Dorm.jpg' class="big-carousel"/></div>
    <div ><img data-lazy='/assets/box-photos/photos(unedited)/20-Outside-Facing-Windows-2.jpg' class="big-carousel"/></div>
    <div ><img data-lazy='/assets/box-photos/photos(unedited)/21-Sockets.jpg' class="big-carousel"/></div>
    <div ><img data-lazy='/assets/box-photos/photos(unedited)/22-Storage-Box-1.jpg' class="big-carousel"/></div>
    <div ><img data-lazy='/assets/box-photos/photos(unedited)/23-Storage-Box-2.jpg' class="big-carousel"/></div>
    <div ><img data-lazy='/assets/box-photos/photos(unedited)/24-Double-Bed-private-room.jpg' class="big-carousel"/></div>
    <div ><img data-lazy='/assets/box-photos/photos(unedited)/25-Balcony-View-sunrise.jpg' class="big-carousel"/></div>
    <div ><img data-lazy='/assets/box-photos/photos(unedited)/26-Balcony-View-rainbow.jpg' class="big-carousel"/></div>
    <div ><img data-lazy='/assets/box-photos/photos(unedited)/27-Balcony-View-full-moon.jpg' class="big-carousel"/></div>
    <div ><img data-lazy='/assets/box-photos/photos(unedited)/28-Family-Dinner.jpg' class="big-carousel"/></div>
    <div ><img data-lazy='/assets/box-photos/photos(unedited)/29-Board-Game-Night.jpg' class="big-carousel"/></div>
    <div ><img data-lazy='/assets/box-photos/photos(unedited)/30-Dinner-Event.jpg' class="big-carousel"/></div>
    <div ><img data-lazy='/assets/box-photos/photos(unedited)/31-Movie-Night.jpg' class="big-carousel"/></div>
    <div ><img data-lazy='/assets/box-photos/photos(unedited)/BOX-Movie-Night-01.jpg' class="big-carousel"/></div>
    <div ><img data-lazy='/assets/box-photos/photos(unedited)/Box-of-Chocolates.jpg' class="big-carousel"/></div>
  </div>
  <div class="slider-nav carousel-nav">

    <div><%= image_tag 'box-photos/photos(unedited)/01-common-space-1.jpg', class:"thumb-carousel"%></div>
    <div><%= image_tag 'box-photos/photos(unedited)/02-Common-Space-2.jpg', class:"thumb-carousel"%></div>
    <div><%= image_tag 'box-photos/photos(unedited)/03-Common-Space-3.jpg', class:"thumb-carousel"%></div>
    <div><%= image_tag 'box-photos/photos(unedited)/04-Study-Table.jpg', class:"thumb-carousel"%></div>
    <div><%= image_tag 'box-photos/photos(unedited)/05-Kitchen-1.jpg', class:"thumb-carousel"%></div>
    <div><%= image_tag 'box-photos/photos(unedited)/06-Kitchen-2.jpg', class:"thumb-carousel"%></div>
    <div><%= image_tag 'box-photos/photos(unedited)/07-FREE-Breakfast.jpg', class:"thumb-carousel"%></div>
    <div><%= image_tag 'box-photos/photos(unedited)/08-Coin-Operated-Laundry.jpg', class:"thumb-carousel"%></div>
    <div><%= image_tag 'box-photos/photos(unedited)/09-Shared-Bathroom-1.jpg', class:"thumb-carousel"%></div>
    <div><%= image_tag 'box-photos/photos(unedited)/10-Shared-Bathroom-2.jpg', class:"thumb-carousel"%></div>
    <div ><%= image_tag 'box-photos/photos(unedited)/11-Shared-Bathroom-3.jpg', class:"thumb-carousel"%></div>
    <div ><%= image_tag 'box-photos/photos(unedited)/12-8-Bed-Dorm.jpg', class:"thumb-carousel"%></div>
    <div ><%= image_tag 'box-photos/photos(unedited)/13-Outside-Facing-Windows-1.jpg', class:"thumb-carousel"%></div>
    <div ><%= image_tag 'box-photos/photos(unedited)/14-in-room-Lockers-1.jpg', class:"thumb-carousel"%></div>
    <div ><%= image_tag 'box-photos/photos(unedited)/15-Privacy-Curtains-1.jpg', class:"thumb-carousel"%></div>
    <div ><%= image_tag 'box-photos/photos(unedited)/16-Privacy-Curtains-2.jpg', class:"thumb-carousel"%></div>
    <div ><%= image_tag 'box-photos/photos(unedited)/17-Reading-Light-1.jpg', class:"thumb-carousel"%></div>
    <div ><%= image_tag 'box-photos/photos(unedited)/18-in-room-Lockers-2.jpg', class:"thumb-carousel"%></div>
    <div ><%= image_tag 'box-photos/photos(unedited)/19-6-Bed-Dorm.jpg', class:"thumb-carousel"%></div>
    <div ><%= image_tag 'box-photos/photos(unedited)/20-Outside-Facing-Windows-2.jpg', class:"thumb-carousel"%></div>
    <div ><%= image_tag 'box-photos/photos(unedited)/21-Sockets.jpg', class:"thumb-carousel"%></div>
    <div ><%= image_tag 'box-photos/photos(unedited)/22-Storage-Box-1.jpg', class:"thumb-carousel"%></div>
    <div ><%= image_tag 'box-photos/photos(unedited)/23-Storage-Box-2.jpg', class:"thumb-carousel"%></div>
    <div ><%= image_tag 'box-photos/photos(unedited)/24-Double-Bed-private-room.jpg', class:"thumb-carousel"%></div>
    <div ><%= image_tag 'box-photos/photos(unedited)/25-Balcony-View-sunrise.jpg', class:"thumb-carousel"%></div>
    <div ><%= image_tag 'box-photos/photos(unedited)/26-Balcony-View-rainbow.jpg', class:"thumb-carousel"%></div>
    <div ><%= image_tag 'box-photos/photos(unedited)/27-Balcony-View-full-moon.jpg', class:"thumb-carousel"%></div>
    <div ><%= image_tag 'box-photos/photos(unedited)/28-Family-Dinner.jpg', class:"thumb-carousel"%></div>
    <div ><%= image_tag 'box-photos/photos(unedited)/29-Board-Game-Night.jpg', class:"thumb-carousel"%></div>
    <div ><%= image_tag 'box-photos/photos(unedited)/30-Dinner-Event.jpg', class:"thumb-carousel"%></div>
    <div ><%= image_tag 'box-photos/photos(unedited)/31-Movie-Night.jpg', class:"thumb-carousel"%></div>
    <div ><%= image_tag 'box-photos/photos(unedited)/BOX-Movie-Night-01.jpg', class:"thumb-carousel"%></div>
    <div ><%= image_tag 'box-photos/photos(unedited)/Box-of-Chocolates.jpg', class:"thumb-carousel"%></div>

  </div>
</div>


<div id="gallery" class="content gallery">

    <div id="gallery-container" class="container gallery ">
        <div class="row gallery">
            <span data-slick-index="0" class="item grid-item grid-item--size1 boxes gallery image">
                <%= image_tag 'box-photos/photos(unedited)/01-common-space-1.jpg', alt:'photo of common spaces' %>
            </span>
            <span data-slick-index="1" class="item grid-item boxes grid-item--size1 gallery image">
                <%= image_tag 'box-photos/photos(unedited)/02-Common-Space-2.jpg', alt:'photo of common spaces' %>
            </span>
            <span data-slick-index="2" class="item grid-item boxes gallery image">
                <%= image_tag 'box-photos/photos(unedited)/03-Common-Space-3.jpg', alt:'photo of common spaces' %>
            </span>
        </div>
        <div class="row gallery">
            <span data-slick-index="3" class="item grid-item boxes gallery image">
                <%= image_tag 'box-photos/photos(unedited)/04-Study-Table.jpg', alt:'photo of common spaces' %>
            </span>
            <span data-slick-index="4" class="item grid-item boxes gallery image">
                <%= image_tag 'box-photos/photos(unedited)/05-Kitchen-1.jpg', alt:'photo of common spaces' %>
            </span>

            <span data-slick-index="5" class="item grid-item grid-item--size1 boxes gallery image">
                <%= image_tag 'box-photos/photos(unedited)/06-Kitchen-2.jpg', alt:'photo of common spaces' %>
            </span>

        </div>
        <div class="row gallery">
            <span data-slick-index="6" class="item grid-item boxes gallery image">
                <%= image_tag 'box-photos/photos(unedited)/07-FREE-Breakfast.jpg', alt:'photo of common spaces' %>
            </span>
            <span data-slick-index="7" class="item grid-item boxes gallery image">
                <%= image_tag 'box-photos/photos(unedited)/08-Coin-Operated-Laundry.jpg', alt:'photo of common spaces' %>
            </span>

            <span class="boxes grid-item gallery image">
                <%= image_tag 'box_of_chocolates/illustrations/chocolate_square.png', alt:'photo of common spaces' %>
            </span>

        </div>
        <div class="row gallery">
            <span data-slick-index="8" class="item grid-item boxes gallery image">
                <%= image_tag 'box-photos/photos(unedited)/09-Shared-Bathroom-1.jpg', alt:'photo of common spaces' %>
            </span>
            <span data-slick-index="9" class="item grid-item boxes  gallery image">
                <%= image_tag 'box-photos/photos(unedited)/10-Shared-Bathroom-2.jpg', alt:'photo of common spaces' %>
            </span>

            <span data-slick-index="10" class="item grid-item boxes gallery image">
                <%= image_tag 'box-photos/photos(unedited)/11-Shared-Bathroom-3.jpg', alt:'photo of common spaces' %>
            </span>

        </div>
        <div class="row gallery">
            <span class="boxes grid-item gallery image">
                <%= image_tag 'box_of_chocolates/illustrations/chocolate_circle.png', alt:'photo of common spaces' %>
            </span>
            <span data-slick-index="11" class="item grid-item boxes grid-item--size2 gallery image">
                <%= image_tag 'box-photos/photos(unedited)/12-8-Bed-Dorm.jpg', alt:'photo of common spaces' %>
            </span>

            <span data-slick-index="12" class="item grid-item boxes gallery grid-item--size2 image">
                <%= image_tag 'box-photos/photos(unedited)/13-Outside-Facing-Windows-1.jpg', alt:'photo of common spaces' %>
            </span>

        </div>
        <div class="row gallery">
            <span data-slick-index="13" class="item grid-item boxes gallery image">
                <%= image_tag 'box-photos/photos(unedited)/14-in-room-Lockers-1.jpg', alt:'photo of common spaces' %>
            </span>
            <span data-slick-index="14" class="item grid-item boxes grid-item--size1 gallery image">
                <%= image_tag 'box-photos/photos(unedited)/15-Privacy-Curtains-1.jpg', alt:'photo of common spaces' %>
            </span>

            <span data-slick-index="15" class="item grid-item boxes grid-item--size2 gallery image">
                <%= image_tag 'box-photos/photos(unedited)/16-Privacy-Curtains-2.jpg', alt:'photo of common spaces' %>
            </span>

        </div>
        <div class="row gallery">
            <span data-slick-index="16" class="item grid-item boxes gallery image">
                <%= image_tag 'box-photos/photos(unedited)/17-Reading-Light-1.jpg', alt:'photo of common spaces' %>
            </span>
            <span data-slick-index="17" class="item grid-item boxes gallery image">
                <%= image_tag 'box-photos/photos(unedited)/18-in-room-Lockers-2.jpg', alt:'photo of common spaces' %>
            </span>

            <span data-slick-index="18" class="item grid-item boxes gallery image">
                <%= image_tag 'box-photos/photos(unedited)/19-6-Bed-Dorm.jpg', alt:'photo of common spaces' %>
            </span>

        </div>
        <div class="row gallery">
            <span data-slick-index="19" class="item grid-item boxes grid-item--size1 gallery image">
                <%= image_tag 'box-photos/photos(unedited)/20-Outside-Facing-Windows-2.jpg', alt:'photo of common spaces' %>
            </span>
            <span class="boxes grid-item gallery image">
                <%= image_tag 'box_of_chocolates/illustrations/chocolate_square.png', alt:'photo of common spaces' %>
            </span>

            <span data-slick-index="20" class="item grid-item boxes gallery image">
                <%= image_tag 'box-photos/photos(unedited)/21-Sockets.jpg', alt:'photo of common spaces' %>
            </span>
            <span class="hidden-md-down boxes grid-item gallery image">
                <%= image_tag 'box_of_chocolates/illustrations/chocolate_square.png', alt:'photo of common spaces' %>
            </span>

        </div>
        <div class="row gallery">
          <span class="hidden-md-down boxes grid-item gallery image">
              <%= image_tag 'box_of_chocolates/illustrations/chocolate_square.png', alt:'photo of common spaces' %>
          </span>

          <span class="hidden-md-down boxes grid-item grid gallery image">
            <%= image_tag 'box_of_chocolates/illustrations/chocolate_circle.png', alt:'photo of common spaces' %>
          </span>
          <span class="hidden-md-down boxes grid-item gallery image">
            <%= image_tag 'box_of_chocolates/illustrations/chocolate_square.png', alt:'photo of common spaces' %>
          </span>

            <span data-slick-index="21" class="item grid-item boxes gallery image">
                <%= image_tag 'box-photos/photos(unedited)/22-Storage-Box-1.jpg', alt:'photo of common spaces' %>
            </span>
            <span data-slick-index="22" class="item grid-item boxes gallery image">
                <%= image_tag 'box-photos/photos(unedited)/23-Storage-Box-2.jpg', alt:'photo of common spaces' %>
            </span>

            <span class="boxes grid-item gallery image">
                <%= image_tag 'box_of_chocolates/illustrations/chocolate_square.png', alt:'photo of common spaces' %>
            </span>


        </div>
        <div class="row gallery">
            <span data-slick-index="23" class="item grid-item boxes grid-item--size2 gallery image">
                <%= image_tag 'box-photos/photos(unedited)/24-Double-Bed-private-room.jpg', alt:'photo of common spaces' %>
            </span>
            <span data-slick-index="24" class="item grid-item boxes grid-item--size2 gallery image">
                <%= image_tag 'box-photos/photos(unedited)/25-Balcony-View-sunrise.jpg', alt:'photo of common spaces' %>
            </span>
            <span class="hidden-md-down boxes grid-item gallery image">
                <%= image_tag 'box_of_chocolates/illustrations/chocolate_square.png', alt:'photo of common spaces' %>
            </span>

            <span data-slick-index="25" class="item grid-item boxes grid-item--size1 gallery image">
                <%= image_tag 'box-photos/photos(unedited)/26-Balcony-View-rainbow.jpg', alt:'photo of common spaces' %>
            </span>

        </div>
        <div class="row gallery">
            <span class="boxes grid-item gallery image">
                <%= image_tag 'box_of_chocolates/illustrations/chocolate_circle.png', alt:'photo of common spaces' %>
            </span>
            <span data-slick-index="26" class="item grid-item boxes grid-item--size1 gallery image">
                <%= image_tag 'box-photos/photos(unedited)/27-Balcony-View-full-moon.jpg', alt:'photo of common spaces' %>
            </span>

            <span data-slick-index="27" class="item grid-item boxes grid-item--size2 gallery image">
                <%= image_tag 'box-photos/photos(unedited)/28-Family-Dinner.jpg', alt:'photo of common spaces' %>
            </span>

        </div>
        <div class="row gallery">
            <span data-slick-index="28" class="item grid-item boxes gallery image">
                <%= image_tag 'box-photos/photos(unedited)/29-Board-Game-Night.jpg', alt:'photo of common spaces' %>
            </span>
            <span data-slick-index="29" class="item grid-item boxes gallery image">
                <%= image_tag 'box-photos/photos(unedited)/30-Dinner-Event.jpg', alt:'photo of common spaces' %>
            </span>

            <span data-slick-index="30" class="item grid-item boxes gallery image">
                <%= image_tag 'box-photos/photos(unedited)/31-Movie-Night.jpg', alt:'photo of common spaces' %>
            </span>

        </div>
        <div class="row gallery">
            <span data-slick-index="31" class="item grid-item boxes gallery image">
                <%= image_tag 'box-photos/photos(unedited)/BOX-Movie-Night-01.jpg', alt:'photo of common spaces' %>
            </span>
            <span class="boxes grid-item gallery image">
                <%= image_tag 'box_of_chocolates/illustrations/chocolate_square.png', alt:'photo of common spaces' %>
            </span>

            <span data-slick-index="32" class="item grid-item boxes gallery image">
                <%= image_tag 'box-photos/photos(unedited)/Box-of-Chocolates.jpg', alt:'photo of common spaces' %>
            </span>

        </div>
        <div class="row gallery hidden-md-down">
          <span class="boxes grid-item gallery image">
              <%= image_tag 'box_of_chocolates/illustrations/chocolate_square.png', alt:'photo of common spaces' %>
          </span>
          <span class="boxes grid-item gallery image">
              <%= image_tag 'box_of_chocolates/illustrations/chocolate_circle.png', alt:'photo of common spaces' %>
          </span>
          <span class="boxes grid-item gallery image">
                <%= image_tag 'box_of_chocolates/illustrations/chocolate_oval.png', alt:'photo of common spaces' %>
            </span>
        </div>
      </div>
    </div>
